src/main/lib/stylesheets/java/lib/specifications/X3dUnifiedObjectModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Roy Walmsley (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo>XML Schema for the Extensible 3D (X3D) Graphics Object Model tagset</xs:appinfo>
		<xs:documentation><![CDATA[
=============================================================================

X3D Object Model Schema:  http://www.web3d.org/specifications/x3d-ObjectModel.xsd

Author:   Roy Walmsley

Acknowledgements:
- Grateful thanks to Don Brutzman for all his encouragement and insightful comments, without which
  this would never have materialized.

Design summary:
- This Schema details the design of the object model file, that is auto generated from the X3D schema
- An XSLT stylesheet can be applied to the object model to autogenerate source code for the Scene
  Authoring Interface (SAI), documentation of node lists, etc.

=============================================================================
		]]></xs:documentation>
	</xs:annotation>
	<xs:simpleType name="accessTypeValues">
		<xs:restriction base="xs:token">
			<xs:enumeration value="initializeOnly"/>
			<xs:enumeration value="inputOnly"/>
			<xs:enumeration value="inputOutput"/>
			<xs:enumeration value="outputOnly"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fieldTypeValues">
		<xs:restriction base="xs:token">
			<xs:enumeration value="SFBool"/>
			<xs:enumeration value="SFColor"/>
			<xs:enumeration value="SFColorRGBA"/>
			<xs:enumeration value="SFDouble"/>
			<xs:enumeration value="SFFloat"/>
			<xs:enumeration value="SFImage"/>
			<xs:enumeration value="SFInt32"/>
			<xs:enumeration value="SFMatrix3d"/>
			<xs:enumeration value="SFMatrix3f"/>
			<xs:enumeration value="SFMatrix4d"/>
			<xs:enumeration value="SFMatrix4f"/>
			<xs:enumeration value="SFNode"/>
			<xs:enumeration value="SFRotation"/>
			<xs:enumeration value="SFString"/>
			<xs:enumeration value="SFTime"/>
			<xs:enumeration value="SFVec2d"/>
			<xs:enumeration value="SFVec2f"/>
			<xs:enumeration value="SFVec3d"/>
			<xs:enumeration value="SFVec3f"/>
			<xs:enumeration value="SFVec4d"/>
			<xs:enumeration value="SFVec4f"/>
			<xs:enumeration value="MFBool"/>
			<xs:enumeration value="MFColor"/>
			<xs:enumeration value="MFColorRGBA"/>
			<xs:enumeration value="MFDouble"/>
			<xs:enumeration value="MFFloat"/>
			<xs:enumeration value="MFImage"/>
			<xs:enumeration value="MFInt32"/>
			<xs:enumeration value="MFMatrix3d"/>
			<xs:enumeration value="MFMatrix3f"/>
			<xs:enumeration value="MFMatrix4d"/>
			<xs:enumeration value="MFMatrix4f"/>
			<xs:enumeration value="MFNode"/>
			<xs:enumeration value="MFRotation"/>
			<xs:enumeration value="MFString"/>
			<xs:enumeration value="MFTime"/>
			<xs:enumeration value="MFVec2d"/>
			<xs:enumeration value="MFVec2f"/>
			<xs:enumeration value="MFVec3d"/>
			<xs:enumeration value="MFVec3f"/>
			<xs:enumeration value="MFVec4d"/>
			<xs:enumeration value="MFVec4f"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="versionValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3.0"/>
			<xs:enumeration value="3.1"/>
			<xs:enumeration value="3.2"/>
			<xs:enumeration value="3.3"/>
			<xs:enumeration value="4.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AbstractNodeType">
		<xs:annotation>
			<xs:documentation>This element contains the definition for a single X3D abstract node type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterfaceDefinition"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AbstractNodeTypes">
		<xs:annotation>
			<xs:documentation>This element contains all X3D abstract node types</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="AbstractNodeType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AbstractObjectType">
		<xs:annotation>
			<xs:documentation>This element contains the definition for a single X3D abstract object types, i.e. that has no nodal constituents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterfaceDefinition"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AbstractObjectTypes">
		<xs:annotation>
			<xs:documentation>This element contains all X3D abstract object types, i.e. that have no nodal constituents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="AbstractObjectType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalInheritance">
		<xs:annotation>
			<xs:documentation>This element contains a secondary abstract type inherited by the abstract or concrete node type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="baseType" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="allowedElement">
	</xs:element>
	<xs:element name="componentInfo">
		<xs:annotation>
			<xs:documentation>This element contains the definition of the component info for a node or type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:token" default=""/>
			<xs:attribute name="level" default="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConcreteNode">
		<xs:annotation>
			<xs:documentation>This element contains the definition for a single X3D concrete node type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterfaceDefinition"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConcreteNodes">
		<xs:annotation>
			<xs:documentation>This element contains all X3D concrete node types</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ConcreteNode"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="containerField">
		<xs:annotation>
			<xs:documentation>This element contains the default value for the containerField attribute used in an XML encoding</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enumeration" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="default" type="xs:token" default=""/>
			<xs:attribute name="type" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContentModel">
		<xs:annotation>
			<xs:documentation>This element contains the definition for the child content model in a definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldDeclaration" minOccurs="0"/>
				<xs:element ref="GroupContentModel" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="NodeContentModel"/>
					<xs:element ref="StatementContentModel"/>
					<xs:element ref="SourceText" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="enumeration">
		<xs:annotation>
			<xs:documentation>This element contains a single value for an enumeration for a field</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="allowedElement"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="tooltip" type="xs:string" default=""/>
			<xs:attribute name="value" type="xs:string" default=""/>
			<xs:attribute name="appinfo" type="xs:string" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:annotation>
			<xs:documentation>This element contains the definition for a single built-in X3D field</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enumeration" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="componentInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="acceptableNodeTypes" type="xs:string" default=""/>
			<xs:attribute name="accessType" type="accessTypeValues" default="inputOutput"/>
			<xs:attribute name="additionalEnumerationValuesAllowed" type="xs:boolean" default="false"/>
			<xs:attribute name="baseType" type="xs:token" default=""/>
			<xs:attribute name="componentLevel" type="xs:integer" default="1"/>
			<xs:attribute name="default" type="xs:string" default=""/>
			<xs:attribute name="inheritedFrom" type="xs:token" default=""/>
			<xs:attribute name="maxExclusive" type="xs:token" default=""/>
			<xs:attribute name="maxInclusive" type="xs:token" default=""/>
			<xs:attribute name="minExclusive" type="xs:token" default=""/>
			<xs:attribute name="minInclusive" type="xs:token" default=""/>
			<xs:attribute name="name" type="xs:token" default=""/>
			<xs:attribute name="type" type="fieldTypeValues" default="SFBool"/>
			<xs:attribute name="use" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="optional"/>
						<xs:enumeration value="required"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldDeclaration">
		<xs:annotation>
			<xs:documentation>This element contains the specification user defined fields in the child content model in a definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="maxOccurs" type="xs:token" default="1"/>
			<xs:attribute name="minOccurs" type="xs:token" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldType">
		<xs:annotation>
			<xs:documentation>This element contains the definition for a single X3D field type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterfaceDefinition"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:token" default=""/>
			<xs:attribute name="regex" type="xs:string" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldTypes">
		<xs:annotation>
			<xs:documentation>This element contains all X3D field types</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="FieldType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GroupContentModel">
		<xs:annotation>
			<xs:documentation>This element contains the name of a group in the child content model in a definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="maxOccurs" type="xs:token" default="1"/>
			<xs:attribute name="minOccurs" type="xs:token" default="1"/>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Inheritance">
		<xs:annotation>
			<xs:documentation>This element contains the primary base abstract type inherited by the abstract or concrete node type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="baseType" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InterfaceDefinition">
		<xs:annotation>
			<xs:documentation>This element contains an interface definition for an abstract object, abstract node, or concrete node</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="componentInfo" minOccurs="0"/>
				<xs:element ref="Inheritance" minOccurs="0"/>
				<xs:element ref="AdditionalInheritance" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="containerField" minOccurs="0"/>
				<xs:element ref="ContentModel" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="specificationSection" type="xs:string" default=""/>
			<xs:attribute name="specificationUrl" type="xs:string" default=""/>
			<xs:attribute name="appinfo" type="xs:string" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NodeContentModel">
		<xs:annotation>
			<xs:documentation>This element contains the name of a particular node in the child content model in a definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="maxOccurs" type="xs:token" default="1"/>
			<xs:attribute name="minOccurs" type="xs:token" default="1"/>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SimpleType">
		<xs:annotation>
			<xs:documentation>This element defines a single SimpleType and its enumerations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enumeration" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" default=""/>
			<xs:attribute name="baseType" type="xs:token" default=""/>
			<xs:attribute name="appinfo" type="xs:string" default=""/>
			<xs:attribute name="documentation" type="xs:string" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SimpleTypeEnumerations">
		<xs:annotation>
			<xs:documentation>This element lists all simple types and their enumerations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SimpleType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceText">
		<xs:annotation>
			<xs:documentation>This element indicates that the node may contain a plain text child, e.g. CDATA in XML or #sourceText in JSON</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Statement">
		<xs:annotation>
			<xs:documentation>This element contains the definition of a single statement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterfaceDefinition"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatementContentModel">
		<xs:annotation>
			<xs:documentation>This element contains the name of a particular statement in the child content model in a definition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="maxOccurs" type="xs:token" default="1"/>
			<xs:attribute name="minOccurs" type="xs:token" default="1"/>
			<xs:attribute name="name" type="xs:token" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Statements">
		<xs:annotation>
			<xs:documentation>This element contains all X3D statements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Statement"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="X3DObjectModel">
		<xs:annotation>
			<xs:documentation>The root element for the object model</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SimpleTypeEnumerations" minOccurs="0"/>
				<xs:element ref="FieldTypes" minOccurs="0"/>
				<xs:element ref="AbstractObjectTypes" minOccurs="0"/>
				<xs:element ref="AbstractNodeTypes" minOccurs="0"/>
				<xs:element ref="ConcreteNodes" minOccurs="0"/>
				<xs:element ref="Statements" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="versionValues" default="3.3"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
